<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Delete</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/Delete.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 7.0.3, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#4d95d8">
    <meta property="og:title" content="Delete">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-ac54"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-heading-font u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Home" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Login" style="padding: 10px 20px;">Login</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Login">Login</a>
</li></ul>
</div>
</div>
<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
</div>
</nav>
<a href="/logout" class="u-border-none u-btn u-button-style u-custom-font u-heading-font u-hover-palette-2-base u-none u-btn-1">Logout </a>
<p class="u-text u-text-default u-text-1">Welcome, <%= user.name %> </p>
</div></header>
<section class="u-align-center u-clearfix u-container-align-center u-section-1" id="sec-233c">
<div class="u-clearfix u-sheet u-sheet-1">
<h3 class="u-text u-text-default u-text-1">Any flight cancellation? </h3>
<div class="u-form u-form-1">

  <form  id="myForm" action="/Readdetail" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" method="post" enctype="multipart/form-data">
<div class="u-form-group u-label-top">
<label for="number" class="u-label">Booking</label>
<input type="number" placeholder="Your Booking ID" id="inputBookingid" name="inputBookingid" class="u-input u-input-rectangle" required="required">
</div>
<div class="u-form-group u-form-submit u-label-top">
<a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
<input type="submit" value="submit" class="u-form-control-hidden">
</div>
<div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
<div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
<input type="hidden" value="" name="recaptchaResponse">
<input type="hidden" name="formServices" value="3839a570-c1b6-683a-d006-c1edf45f372b">
</form>


</div>
</div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-2" src="" id="sec-6fd7">
<div class="u-clearfix u-sheet u-sheet-1">
<h4 class="u-text u-text-default u-text-1">Please check the following information for cancel booking: </h4>
<div class="u-expanded-width u-list u-list-1">
<div class="u-repeater u-repeater-1">
<div class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
<div class="u-container-layout u-similar-container u-container-layout-1">
  <h3 class="u-align-center u-text u-text-2">Destination Airport </h3>
  <div class="u-container-style u-group u-palette-1-light-3 u-radius u-shape-round u-group-1">
    <p align="center"> <h4><%= returnDestination %> </h4></p>

    <div class="u-container-layout u-container-layout-2"></div>
  </div>
</div>
</div>
<div class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
<div class="u-container-layout u-similar-container u-container-layout-3">
  <h3 class="u-align-center u-text u-text-3">Date Selection</h3>
  <div class="u-container-style u-group u-palette-1-light-3 u-radius u-shape-round u-group-2">
    <p align="center"> <h4><%= returnbookingData %> </h4></p>
    <div class="u-container-layout u-container-layout-4"></div>
  </div>
</div>
</div>
<div class="u-align-center u-border-3 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-2-base u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
<div class="u-container-layout u-similar-container u-container-layout-5">
  <h3 class="u-align-center u-text u-text-4">Booking ID</h3>
  <div class="u-container-style u-group u-palette-1-light-3 u-radius u-shape-round u-group-3">
    <p align="center"> <h4><%= returnbookingid %> </h4></p>
    <div class="u-container-layout u-container-layout-6"></div>
  </div>
</div>
</div>
</div>
</div>
<a href="/deletedetail" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">DELETE </a>
</div>



</section>



<footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-f752"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
<p class="u-small-text u-text u-text-variant u-text-1">Group 58 Project COMP S381F </p>
</div></footer>
<section class="u-backlink u-clearfix u-grey-80">
<p class="u-text">

</a>
</p>
</section>

<script>
  document.getElementById('myForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    // Submit the form data using fetch or XMLHttpRequest
    const response = await fetch('/Readdetail', {
      method: 'POST',
      body: new FormData(this)
    });
  
    if (response.ok) {
      // Reload the page after successful form submission
      window.location.reload();
    } else {
      // Handle error cases
      console.error('Form submission failed');
    }
  });





  </script>



</body></html>